<h1>Create a new Article</h1>

<%= form_for(@article) do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :context %>
    <%= f.text_field :context %>
  </p>
  <%= f.submit %>
<% end %>
<br>
<%= link_to 'Back to MY Tasks', tasks_path %>